body {
    padding-top: 20px;
  }
  
  .card-deck {
    margin: 0 -15px;
    justify-content: space-between;
  }
  
  .card-deck .card {
    margin: 0 0 1rem;
  }
  
  @media (min-width: 700px) and (max-width: 1024px) {
    .card-deck .card {
      -ms-flex: 0 0 48.7%;
      flex: 0 0 48.7%;
    }
  }
  @media (min-width: 576px) and (max-width: 700px) {
    .card-deck .card {
      -ms-flex: 0 0 98%;
      flex: 0 0 98%;
    }
  }
  
//   @media (min-width: 1440px)  {
//     .card-deck .card {
//       max-width: 1440px;
//         -ms-flex: 0 0 24%;
//         flex: 0 0 24%;
//       }  
//   }
  
  @media (min-width: 1024px) and (max-width: 1440px)
  {
    .card-deck .card {
      -ms-flex: 0 0 24%;
      flex: 0 0 24%;
    }
  }

.image-class{
    background-color: lightgray;
}
  
  
  
  