<div class="container-fluid">
  <div class="card mainCard">
    <h4 class="maincard-title">SpaceX Launch Programs</h4>
    <div class="row custrow">
      <div class="col-sm-2 card filterCard">
        <h4 class="card-title">Filters</h4>
        <div style="text-align: center"> Launch Year</div>
        <hr class="custhr">
        <div class="row custbtnrow">
          <div class="col-6" style="text-align: center;" *ngFor="let item of buttons">
            <button class="custbutton" (click)="selBtn(item)">{{item}}</button>
          </div>
        </div>
        <div style="text-align: center;"> Launch Success</div>
        <hr class="custhr">
        <div class="row custbtnrow ">
          <div class="col-6" style="text-align: center">
            <button class="custbutton" id="launchTruebtnid" (click)="launchSuccessBtn('true')">True</button>
          </div>
          <div class="col-6" style="text-align: center">
            <button class="custbutton" id="launchFalsebtnid">False</button>
          </div>
        </div>

        <div style="text-align: center;"> Land Success</div>
        <hr class="custhr">
        <div class="row custbtnrow">
          <div class="col-6" style="text-align: center">
            <button class="custbutton" id="landSuccessTrueBtnid" (click)="landSuccessBtn('true')">True</button>
          </div>
          <div class="col-6" style="text-align: center">
            <button class="custbutton" id="landSuccessFalseBtnid">False</button>
          </div>
        </div>
      </div>

      <div class="col-sm-10">
        <div class="card-deck">
          <div class="card" *ngFor="let card of objects">
            <img class="image-class" src={{card.links.mission_patch_small}} alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{card.mission_name}}#{{card.flight_number}}</h5>
              <p><b>Mission Ids:</b> {{card.mission_id}}</p>
              <p><b>Launch Year:</b> {{card.launch_year}}</p>
              <p><b>Succesfull Launch:</b> {{card.launch_success}}</p>
              <p><b>Succesfull Landing:</b> {{card.launch_year}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="center">
      <p> <b>Developed by:</b> Dinesh Bussa</p>
    </div>
  </div>
</div>